#main {
    background: lightgreen;
    padding: 20px;
    border-radius: 10px;
}
#main h4{
    font-family: fantasy;
}
.alert{
    left: 0;
    color: red;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
#main h6{
    font-family: "Book Antiqua";

    font-weight: bold;
    font-size: 14px;
}
ul{
    width: 170px;
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    border: 1px solid #ccc;
    background: #eee;
    padding: 5px 10px;
    color: #000;
}
li span{
    padding-left: 5px;
    cursor: default;
}
.checked{
    text-decoration: line-through;
    color: #0cc;
    font-weight: bold;
}

